/* 
  #004dc3, #6c9fe0, #f54258, #17181D, #292C35, #E09145, #FCD9B8
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  font-family:"Poppins", sans-serif;
}
body{overflow-x:hidden}

.font-poppins{font-family:"Poppins", sans-serif;}

.list{
  background-color:#f54258;
  color:#fff;
  font-size:.8rem;
  display:inline-block;
  width:23px;
  height:23px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}
.options{position:relative;cursor:pointer;}
.options.active{
  color:#f54258;
}
.guide{
  height:2px;
  background-color:#f54258;
  position:absolute;
  left:8.4rem;
  margin-top:-7px;
  transition:all .3s ease;
}
.codebase::-webkit-scrollbar{
  display:none;
}
.platform-type{
  cursor:pointer;
  font-size:.75rem;
  transition:all .3s ease;
}
.platform-type:not(.active):hover{
  background-color:#6c63ff;
  padding:.1rem .8rem;
  border-radius:3px;
}
.platform-type.active{
  background-color:#6c63ff;
  color:#17181d;
  font-family:"Poppins 500";
  padding:.1rem .8rem;
  border-radius:3px;
}

.js-rw{color:#f54258;}
.js-var{color:#6c9fe0;}
.js-str{color:#fcd9b8}
.js-comm{color:#aaa}

form > div::-webkit-scrollbar {display:none}
.form-field+label{
  position:absolute;
  top:50%;
  pointer-events:none;
  transform:translateY(-50%);
  transition:all .3s ease;
}
.form-field{
  width:100%;
  height:25px;
  padding:0 1rem;
  margin-top:1rem;
  font-size:.8rem;
  outline:none;
  background-color:transparent;
  cursor:default;
}
.form-field[type=password]{
  font-family:Verdana;
  font-size:1.15em;
}
.form-field:focus{cursor:text}
.form-field:focus+label,
.form-field+label.active{
  color:#6c63ff;
  top:.8rem;
  font-size:.75rem;
}
.errors > .error {
  display:flex;
  align-items:center;
  justify-content:space-between;
  font-size:.9rem;
  color:#17181d;
}
.errors > .error > i{cursor:pointer;}
.welcome-content{
  z-index:20;
  width:fit-content;
  visibility:hidden;
  border-radius:8px;
  padding:1.2rem 0;
  box-shadow: 2px 2px 7px #aaa;
}
.welcome-content > p,
.welcome-content > i{display:none;}
.welcome-content.right{
  position:absolute;
  right:0;
  transition:all .3s ease;
}
.welcome-content.active{
  visibility:visible;
  margin-right:1.5rem;
  padding:1.2rem 10rem 1.2rem 1.6rem;
}
.welcome-content.active > p,
.welcome-content.active > i{display:block;}
.welcome-content > i{
  position:absolute;
  top:.4rem;
  right:.6rem;
  padding:.2rem .3rem;
  cursor:pointer;
}
.welcome-content > p:first-of-type{
  font-size:.88rem;
  font-weight:bold;
}
.options-subcontent{
  top:5.2rem;
  right:1.5rem;
  width:10rem;
  height:16rem;
  padding:.8rem .2rem;
  transition:all .3s ease;
}
.options-subcontent:not(.inactive) > div > a,
.options-subcontent:not(.inactive) > div > h3{
  padding-right:.8rem;
  padding-left:.8rem;
}
.options-subcontent:not(.inactive) > div > a{
  padding-top:.3rem;
  padding-bottom:.3rem;
}
.options-subcontent:not(.inactive) > div > button{
  margin-left:.8rem;
  margin-right:.8rem;
}
.options-subcontent:not(.inactive) > div > a:hover{
  background-color:#fff;
}
.options-subcontent:not(.inactive):after{
  content:"";
  position:absolute;
  top:-1rem;
  right:3.8rem;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid rgb(241 245 249 / var(--tw-bg-opacity));
}
.options-subcontent.inactive{
  width:0;
  height:0;
  padding:0;
}
.options-subcontent.inactive > button,
.options-subcontent.inactive > div{
  display:none;
}

@media screen and (min-width:581px) and (max-width:767px){
  footer{
    padding:0 6rem;
  }
}
@media screen and (max-width:1023px){
  .options-subcontent{display:none}
}

